body {
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    /*background-color: #ADBC9F;*/
    padding: 20px;
    text-align: center;
    /*color: #D2E3C8;*/
}

h1, h2, h3, h4 {
    color: #EEF0E5;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive;
    
}

p {
    color: #eff7eb;
    margin-bottom: 15px;
}

#about {
    padding: 30px;
}

#skills {
    background-color: #112519;
    padding: 30px;
    color: #E1F0DA;
    padding: 30px;


}


#interests {
    background-color: #112519;
    padding: 30px;
    color: #E1F0DA;
    justify-content: center;

}

#contact {
    padding: 30px;
    color: #e9efe4;
}

footer {
    background-color: #112519;
    padding: 20px;
    text-align: center;
}

img {
    max-width: 200px;
    border-radius: 5px;
    margin: 10px;
    width: 30%; /* Adjust width of images */
    height: auto; /* Maintain aspect ratio */
}

ul {
    list-style: disc;
    padding: 10px;
} 

ol {
    list-style: decimal;
    padding: 10px;
}

table {
    border-collapse: collapse;
    border: 1px solid #ddd;
    width: 100%;
}

th, td {
    padding: 8px;
    border: 1px solid #ddd;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    padding: 8px;
    border-radius: 5%;
    margin-bottom: 10px;
}

button {
    background-color: #112519;
    color: rgb(170, 215, 167);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table, th, td {
    border: 3px solid rgb(255, 255, 255);
}

.image-container {
    display: flex; /* Use flexbox to align images in a row */
    justify-content: center;
    
    
    padding: 10px;

}

#music {

    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    text-align: center; /* Center-align the icons horizontally */
  }
  
.social-icons a {
    display: inline-block; /* Display the icons as inline-block elements */
    margin: 0 10px; /* Add space between the icons */
    font-size: 24px; /* Set the size of the icons */
    color: #ffffff; /* Set the color of the icons */
}