body {
    background: url('background.jpg') no-repeat center  fixed;
    opacity: 0.9;
    background-size: cover;
    font-family: sans-serif;
    margin: 10px;
    padding: 0;
}

header {
    background-color: #112519;
    padding: 5px;
    text-align: center;
    /*color: #D2E3C8;*/
}

h3, h4 {
    color: #EEF0E5;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
    
}
h2 {
    color: #EEF0E5;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive;
    text-align: left;
    
}
h1 {
    color: #DBE7C9;
    font-weight: bold;
    font-family: "Comic Sans MS", cursive;
}

p {
    color: #eff7eb;
    margin-bottom: 15px;
    font-size: medium;
}

#about {
    padding: 30px;
    justify-content: left;
    text-align: left;
}

#skills {
    background-color: #112519;
    padding: 30px;
    color: #E1F0DA;
    padding: 30px;
    justify-content: center;
    text-align: center;


}


#interests {
    text-align: left; /* Optional: Align content to the center */
    background-color: #112519;
    padding: 30px;
    color: #b6d7a7;
    margin-top: 10px;
    justify-content: center;
}

#contact {
    padding: 30px;
    color: #e9efe4;
    

}

footer {
    background-color: #112519;
    padding: 20px;
    text-align: center;
}

img {
    max-width: 200px;
    border-radius: 5px;
    margin: 10px;
    width: 30%; /* Adjust width of images */
    height: auto; /* Maintain aspect ratio */
}

ul {
    list-style: none;
    padding: 10px;
    text-align: center;
    justify-content: center;
} 

ol {
    list-style: decimal;
    padding: 10px;
}

table {
    border-collapse: collapse;
    border: 4px solid #789461;
    width: 100%;
    text-align: center;
    justify-content: center;
}

td {
    border-collapse: collapse;
    border: 2px solid #789461;
    padding: 8px;
    border-radius: 10px;
}
th {
   
    border: 4px solid #789461;
    padding: 8px;
    border-radius: 10px;
    
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    color: #dcdcdc;
}

label {
    margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
    padding: 8px;
    margin-bottom: 10px;
    background-color: #5b6944;
    color: #DBE7C9;
    font-style: italic;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #DBE7C9;
    color: rgb(27, 40, 26);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}

@media (max-width: 767px) {
    .image-container {
        display: flex; /* Use flexbox to align images in a row */
        justify-content: center;}

        .video-container {
            display: flex; 
            justify-content: center;}
            .container {
                text-align: center;
                justify-content: space-around;
            }
}

.container {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

.image-container {
    display: flex; /* Use flexbox to align images in a row */
    justify-content: center;
    width: auto;
    max-height: 300px;
    size: 250px;
    padding: 20px;

}
.video-container {
    display: flex; 
    justify-content: center;
    width: auto;
    max-height: 300px;
    padding: 5px;

}

#music {

    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons {
    text-align: center; /* Center-align the icons horizontally */
  }
  
.social-icons a {
    display: inline-block; /* Display the icons as inline-block elements */
    margin: 0 10px; /* Add space between the icons */
    font-size: 24px; /* Set the size of the icons */
    color: #ffffff; /* Set the color of the icons */
}


hr{
    border-color: #596643;
    border-width: 50%;
}
sup{
    font-size: large;
}